body, .text-body {
    color: #3C4043 !important;
}
.nav-link .nav-icon {
    height: 35px;
    width: 35px;
    padding: 8px;
    border-radius: 10px;
    margin-right: .25rem;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.sidebar .nav-link .nav-icon {
    background-color: rgba(228, 228, 229, 0.45);
}

.nav-link i {
    width: 20px;
    margin-right: 0 !important;
    color: #808090;
}

.sidebar .nav-link span{
    color: #7E7E7E;
}

.nav-link.active .nav-icon{
    background-image: linear-gradient(to bottom right, #FF5876, #FF9384);
}

.nav-link.active i {
    color: white;
}
.nav-link.active span {
    font-weight: bold;
}

.sidebar-toggler {
    background-color: white;
    color: #FF5876;
    border: 3px solid #FF5876;
}

.topbar {
    background-color: #F8F9FD;
}

.topbar .nav-link .nav-icon {
    background-color: white;
}

.topbar .nav-link i {
    color: #8F85FE;
}

.topbar .topbar-divider {
    border-color: #FF5876;
}

.ltb-border-radius-65px {
    border-top-left-radius: 65px;
    border-bottom-left-radius: 65px;
}

.img-fluid {
    border-radius: 20px;
}

.bg-gradient-main {
    background-image: linear-gradient(to bottom right,#FF5876, #FF9384);
    color: white;
}

.content-frame {
    border-radius: 20px;
    background-color: white;
    padding: 30px;
}

.content-frame .content-heading {
    font-size: 25px;
    font-weight: 600;
    position: relative;
    padding-bottom: 5px;
}

.content-heading:after {
    position: absolute;
    border-radius: 25px;
    content: "";
    width: 50%;
    height: 2.5px;
    top: 100%;
    left: 0;
    background: #FF5876;
}

.btn-wild-watermelon {
    background-color: #FF5876;
    color: white;
}

.btn-wild-watermelon:hover {
    background-color: #fa4566;
    color: white;
}

.card {
    border-radius: 20px;
}

.shadow {
    box-shadow: 0 5px 20px 0 rgba(58,59,69,.15) !important;
}

.shadow-wild-watermelon {
    box-shadow: 0 5px 20px 0 #ff5877 !important;
}

.text-wild-watermelon {
    color: #FF5876 !important;
}

.pagination .page-item.previous.disabled .page-link,
.pagination .page-item.next.disabled .page-link {
    background-color: #c4c4c4;
    color: white;
}

.pagination .page-item.previous .page-link,
.pagination .page-item.next .page-link {
    background-color: #FF5876;
    color: white;
}

.pagination .page-item .page-link{
    border: 0;
    border-radius: 10px;
    margin-right: 10px;
    color: #FF5876;
}

.pagination .page-item.active .page-link{
    background-color: #FF5876;
    color: white;
}


.bg-login-image {
    background: url("../img/bg-login-image.jpg");
}

.bg-register-image {
    background: url("../img/bg-register-image.jpg");
}

.bg-login-image,
.bg-register-image {
    background-size: cover;
    background-position: center;
}

.bg-none{
    background-color: rgba(255, 255, 255, 0) !important;
}

.td-align-middle td{
    vertical-align: middle;
}